* {
  box-sizing: border-box;
}

.main-field {
  display: block;
  background-color: black;
  width: 400px;
  color: white;
}

.input-field {
  font-family: monospace;
  font-size: 40px;
  text-align: right;
  height: 90px;
  padding: 20px 5px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.button-row :last-child {
  background-color: orange;
  color: aliceblue;
}

.button-row :last-child:hover {
  background-color: rgb(255, 195, 110);
}
.button {
  width: 24.5%;
  background-color: rgb(138, 138, 138);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.button:hover {
  background-color: rgb(235, 233, 216);
}

.double {
  width: 50%;
}

.triple {
  width: 75%;
}
